.places-near-by-lds-hourglass {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

#block-placesnearby .hide {
  display: none;
}

#block-placesnearby .places-near-by-main-wrapper {
  margin: 0 auto;
  padding: 20px;
  max-width: 1090px;
}

#block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper .places-near-by-left-section-wrapper {
  flex: 0 1 55%;
}

#block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper .places-near-by-right-section-wrapper {
  flex: 0 1 45%;
}

#block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper .places-near-by-right-section-wrapper section .places-near-by-right-section #places-near-by-map-block {
  height: 400px;
  width: auto;
}

#block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper .places-near-by-left-section-wrapper .places-near-by-left-section #places-near-by-map-list-data {
  padding: 18px;
  font-size: large;
  min-height: 275px;
}

#block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper .places-near-by-left-section-wrapper .places-near-by-left-section #places-near-by-map-list-data li {
  padding-bottom: 20px;
}

#block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper .places-near-by-left-section-wrapper .places-near-by-left-section #places-near-by-map-list-data li .nearby-places-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper .places-near-by-left-section-wrapper .places-near-by-left-section #places-near-by-map-list-data li .nearby-places-list-wrapper .nearby-places-name {
  flex: 0 1 80%;
}

#block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper .places-near-by-left-section-wrapper .places-near-by-left-section .places-near-by-places-pagination {
  text-align: center;
}

#block-placesnearby .map-icon-label {
  margin-top: 8px;
}

#block-placesnearby .map-icon-label .map-icon {
  font-size: 16px;
  width: 50px;
}

#block-placesnearby .maps-content h3 {
  font-weight: 500;
}

#block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper .places-near-by-left-section-wrapper .places-near-by-left-section .places-near-by-places-pagination #current-places-near-by-map-pagination {
  padding: 20px;
}

@media (max-width: 425px) {
  #block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper {
    flex-wrap: wrap;
  }

  #block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper .places-near-by-left-section-wrapper {
    flex: 0 1 100%;
  }

  #block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper .places-near-by-right-section-wrapper {
    flex: 0 1 100%;
  }

  #block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper .places-near-by-left-section-wrapper .places-near-by-left-section .places-near-by-places-pagination {
    padding-bottom: 20px;
  }

  #block-placesnearby .places-near-by-main-wrapper .places-near-by-wrapper .places-near-by-left-section-wrapper .places-near-by-left-section #places-near-by-map-list-data li .nearby-places-list-wrapper .nearby-places-name {
    flex: 0 1 70%;
  }
}
