{#
/**
 * @file
 * Theme implementation for places nearby places block.
#}

<div class="places-near-by-main-wrapper">
    <div class="places-near-by-wrapper">
        <div class="places-near-by-left-section-wrapper">
            <section>
                <h2> {{ term.places_near_by_main_text }} </h2>
                <div class="places-near-by-lds-hourglass">
                    <img src="/modules/contrib/places_near_by/assets/images/preloader.gif">
                </div>
                <div class="places-near-by-left-section hide">
                    <ul id="places-near-by-map-list-data"></ul>
                    <div class="places-near-by-places-pagination">
                        <span class="prev-page">
                            <button class="prev-page-button">
                                <span class="btn__label">&#8249;</span>
                                <span class="icon icon-arrow-left-2"></span>
                            </button>
                        </span>
                        <span id="current-places-near-by-map-pagination"></span>
                        <span class="next-page">
                            <button class="next-page-button">
                                <span class="btn__label">&#8250;</span>
                                <span class="icon icon-arrow-right-2"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </section>
        </div>
        <div class="places-near-by-right-section-wrapper">
            <section>
                <div class="places-near-by-right-section">
                    <div id="places-near-by-map-block" class="places-nearby-map" ></div>
                </div>
            </section>
        </div>
    </div>
</div>
